<div class = "nav-bar">
  <div id="nav-menu">
    <% if @user == current_user%>
      Hakuna Matata, <%= @user.username%>
      <%= link_to('Sign out', destroy_user_session_path, method: :delete, :id => 'sign-in') %>
      <% else %>
      <%= link_to 'Sign in', new_user_session_path, :id => 'sign-in' %>
    <%end%>
    <div id="profile-picture">
      <%= image_tag @user.profile_picture if @user.profile_picture.attached? %>
    </div>
  </div>
  <div id="logo">
  </div>
</div>

<main id='con1'>
<div id='con1-g1'></div>
<div id='con1-g2'>
<% @posts.each do |post| %>
  <div id="message-con">
  <div id="poster_avi"><%= image_tag @users.find(post.user_id).profile_picture if @user.profile_picture.attached?%></div>
  <p id=username><%= @users.find(post.user_id).username + " shouted:" %> </p>
  <p id="timestamp"><%= post.created_at.strftime("%b %-d, %y %l:%M%P")%>
  <br/>

  <p>
  <%= simple_format(post.message) %> </p>
  <%# <div id="button-con"> %>
  <% if post.user_id == current_user.id %>
    <%= button_to 'Delete', post_path(post), id: 'delete', method: :delete%>
    <% if ( (post.created_at) + (10*60) ) >= @time %>
      <%= link_to 'Update', edit_post_path(post), id: 'update' %>
    <% end %>
  <% end %>
  <%# </div> %>
  </div>
<% end %>
  </div>
<div id='con1-g3'></div>
<div id='con1-g4'></div>
<div id='con1-g5'>
<%= link_to new_post_path do %>
  <div id="new-post">Shout To The Jungle</div>
<% end %>
<%= image_tag ("down_arrow.png")%></div>
<div id='con1-g6'></div>
<%= link_to 'update profile picture', edit_user_profile_picture_path(@user.id) %>
</main>



</body>
